[submodule "sensors/pico-servo"]
	path = sensors/pico-servo
	url = https://github.com/irishpatrick/pico-servo
[submodule "sensors/pico-tof"]
	path = sensors/pico-tof
	url = https://github.com/irishpatrick/pico-tof
